body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2c3e50; /* Fondo oscuro de escritorio */
    font-family: 'Verdana', sans-serif;
}

canvas {
    display: block;
    border: 4px solid #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    background-color: #64b5f6; /* Cielo azul base */
    image-rendering: pixelated; /* ¡Importante! Hace que se vea nítido tipo retro */
}
